.header {
    min-height: 4rem;
    background: #fff;
    padding: 0 2em;
    }
    
    .header-content {
    display: flex;
    padding: 0.5rem 0px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    }
    
    .header-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    }
    
    // .logo {
    // height: 2.8125rem;
    // max-height: 2.8125rem;
    // }
    
    
    .profile-dropdown {
    position: relative;
    display: inline-block;
    transition-duration: 0.5s;
    cursor: pointer;
    }
    
    .profile-dropdown-list {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 10rem;
    box-shadow: 0px 0.5rem 1rem 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0;
    text-align: left;
    }
    
    .profile-dropdown-list a {
    color: #000;
    padding: 0.75rem 1rem;
    text-decoration: none;
    display: block;
    }
    
    .profile-dropdown-list a:hover {
    background-color: #f1f1f1
    }
    
    .profile-dropdown:hover .profile-dropdown-list {
    display: block;
    }
    