
<h4>{{title}}</h4>
<div class="review-container">
  <div class="review-container-body">
    <div class="review-container-details">
      <div class="action-item">
        <div class="action-item-icon action-item-icon-status
          action-item-icon-status-warning">

        </div>
        <div class="">
          <h3 class="status-heading text-yellow">Some checks haven’t completed
            yet</h3>
          <span class="status-meta">
            {{checksFailed}} failing, {{checksPending}}
            expected,{{checksPassed}} successful checks
          </span>
        </div>
      </div>
      <div class="action-item">
        <div class="action-item-icon action-item-icon-status
          action-item-icon-status-success">
          <svg class="octicon octicon-check" viewBox="0 0 12 16" version="1.1" width="12" height="16"
            aria-hidden="true">
            <path fill-rule="evenodd" d="M12 5l-8 8-4-4 1.5-1.5L4 10l6.5-6.5L12
              5z"></path>
          </svg>
        </div>
        <div class="">
          <h3 class="status-heading text-green">All checks have passed</h3>
          <span class="status-meta">
            {{checksPassed}} successful checks
          </span>
        </div>
      </div>
      <div class="action-item">
        <div class="action-item-icon action-item-icon-status
          action-item-icon-status-error">
          <svg class="octicon octicon-x" viewBox="0 0 12 16" version="1.1" width="12" height="16" aria-hidden="true">
            <path fill-rule="evenodd" d="M7.48 8l3.75 3.75-1.48 1.48L6
              9.48l-3.75 3.75-1.48-1.48L4.52 8
              .77 4.25l1.48-1.48L6 6.52l3.75-3.75 1.48 1.48L7.48 8z">
            </path>
          </svg>
        </div>
        <div class="">
          <h3 class="status-heading text-red">All checks have failed</h3>
          <span class="status-meta">
            {{checksFailed}} errored and {{checksPending}} failing checks
          </span>
        </div>

        <div class="status-list" *ngFor="let data of curationMetaData |
          keyvalue">
          <div class="status-list-item">
            <app-content-status [data]="data?.value"></app-content-status>
            <a class="status-image">
              <img src="./../../../../../assets/images/{{data.value.type}}.png">
            </a>

            <div class="text-gray col-10 truncate truncate-target">
              <strong class="text-emphasized">
                {{data.value.name}}
              </strong>
              <span>— unable to analyse your pull request.</span>
              <div *ngIf="data.value.type==='quality' && showResult">
                <div *ngFor="let dataResult of data.value.result | keyvalue">
                  <app-content-status [data]="dataResult?.value"></app-content-status>
                  <a class="status-image">
                    <img src="./../../../../../assets/images/{{dataResult?.key}}.png">
                  </a>

                  <div class="text-gray col-10 truncate truncate-target">
                    <strong class="text-emphasized">
                      {{dataResult?.key}}
                    </strong>
                    <span>— unable to analyse your pull request.</span>


                  </div>
                </div>
              </div>
            </div>
            <div class="d-flex col-2 flex-shrink-0">
              <span class="status-actions">Required</span> &nbsp;
              <span *ngIf="data.value.type === 'quality'" (click)="showResult=
                !showResult">
                <a *ngIf="showResult"> Hide details</a>
                <a *ngIf="!showResult"> Show details</a>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>