.review-container{
    position: relative;
    padding: 30px;
  }
  .review-container .review-title{
    margin-bottom: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5em;
  }
  .review-container .review-container-body {
    position: relative;
    background-color: #fff;
    border: 1px solid #d1d5da;
    border-radius: 3px;
  }
  .action-item{
    padding: 15px 15px 15px 55px;
    font-size: 13px;
    line-height: 1.4;
    border-bottom: 1px solid #d1d5da;
    display: flex;
    align-items: center;
  }
  .action-item:last-child{
    border-bottom: 0px solid #d1d5da;
  }
  .action-item-icon-status-error {
    background-color: #cb2431;
  }
  .action-item-icon-status-success{
    background-color:#28a745!important
  }
  .action-item-icon-status {
    border-radius: 50%;
    color: #fff;
    width: 30px;
    height: 30px;
    text-align: center;
  }
  .action-item-icon {
    float: left;
    margin-left: -40px;
    margin-right: 16px;
  }
  .action-item-icon-status .octicon {
    display: block;
    margin-top: 7px;
    margin-right: auto;
    margin-left: auto;
  }
  svg:not(:root) {
    overflow: hidden;
  }
  .octicon {
    vertical-align: text-bottom;
  }
  .octicon {
    display: inline-block;
    vertical-align: text-top;
    fill: currentColor;
  }
  .status-heading {
    margin-bottom: 1px;
    margin-top: 0;
  }
  .text-red {
    color: #cb2431 !important;
  }
  .text-green {
    color: #28a745 !important;
  }
  .text-yellow{
    color: #b08800 !important;
  }
  .status-list-item {
    position: relative;
    padding: 1em;
    background-color: #fafbfc;
    border-bottom: 1px solid #e1e4e8;
    display: flex;
    align-items: center;
  }
  .status-list-item-active{
    display: flex;
    align-items: flex-start;
    .status-icon{
      margin-top: 8px;
    }
  }
  .status-list-item:last-child{
    border-bottom: 0px solid #e1e4e8;
  }
  .status-meta {
    color: #586069;
  }
  
  .content-status{
    display: flex;
    align-items: center;
    padding: 1em 0;
  }
  .status-list {
    padding: 0;
    margin: 0;
    overflow-y: auto;
    border: solid #e1e4e8;
    border-width: 1px 0 0;
    transition: max-height .25s ease-in-out;
    // &:first-child{
    //   margin: 0;
    // }
  }
  
  .status-icon {
    min-width: 30px;
    margin-right: 12px;
    display: flex;
    justify-content: center;
    align-self: center;
  }
  
  .status-image {
    position: relative;
    margin-right: 8px ;
    color: #586069 ;
    border-radius: 3px ;
    display: inline-block;
  }
  .status-image img{
    width: 20px;
    height: 20px;
  }
  .avatar {
    display: inline-block;
    overflow: hidden;
    line-height: 1;
    vertical-align: middle;
    border-radius: 3px;
  }
  
  .status-list-item .truncate-target {
    max-width: 100%;
  }
  .truncate.truncate-target, .truncate .truncate-target {
    display: inline-block;
    vertical-align: top;
  }
  .truncate.truncate-overflow, .truncate .truncate-overflow, .truncate.truncate-target, .truncate .truncate-target {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .text-gray {
    color: #586069!important;
  }
  .col-10 {
    width: 83.33333%;
  }
  .col-2 {
    width: 16.66667%;
  }
  .status-actions{
    padding: 4px 8px;
    background: gray;
    color: #fff;
    border-radius: 4px;
  }
  .text-emphasized {
    font-weight: 600;
    color: #6a737d;
  }
  .status-inprogress{
    height: 8px;
    width: 8px;
    border-radius: 8px;
    background: #b08800;
  }
  .action-item-icon-status-warning {
    border: 5px solid #b08800;
    height: 30px;
    width: 30px;
    border-radius: 50%;
  }
  .flex-shrink-0{
    a{
      cursor: pointer;
    }
  }