<app-header></app-header>
<div class="landing-container">
  <div class="sb-card-container">
    <div class="sb-card" (click)="viewContentQualityStatus(content)" *ngFor="let content of contents">
      <div class="sb-body">
        <div class="sb-card-label">{{content?.contentType}}</div>
        <div class="sb-title sb__ellipsis sb__ellipsis--two">{{content?.name}}</div>
        <div class="sb-description sb__ellipsis sb__ellipsis--two">{{content?.description || 'Build books using resources for an interesting
          learning experience.'}}</div>
      </div>
    </div>
  </div>
</div>