.sb-card {
    min-width: 24.25rem;
    min-height: 6rem;
    background: #f2f2f2;
    .sb-body{
        display: flex;
        .sb-card-image{
            width: 25%;
            margin-right: 0.5em;
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
}
.sb-card-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1280px;
        margin: 0 auto
    }
    
    .sb-card:hover{
    border-left: 0.25rem solid #07bc81;
    cursor: pointer;
    box-shadow: 0.125rem 0.3125rem 0.4375rem 0 rgba(0, 0, 0, 0.2);
    }
    
    .sb-card {
    min-height: 8rem;
    margin: 1.5rem 1.5rem 1.5rem 0;
    max-width: 18.25rem;
    border: 0.5px solid #F2F2F2;
    border-left: 0.25rem solid #fff;
    border-radius: 0.25rem;
    background: #fff;
    padding: 1rem 1.5rem;
    }
    
    .sb-title {
    margin-bottom: 0.5rem;
    font-size: 1rem;
    font-weight: 700;
    }
    
    .sb-description {
    font-size: 0.875rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    }