<div class="sb-card-container" *ngIf="!showPreview">

    <div class="sb-card" *ngFor="let video of videoList">
        <div class="sb-body" (click)="clickHandler(video)">
            <div class="sb-card-image mr-16">
                <img src="assets/images/video-placeholder.jpg">
              </div>
          <div class="">
            <div class="sb-title">{{video.name}}</div>
            <div class="sb-description">status: {{video.status}}</div>
          </div>
          
        </div>
      </div>

</div>

<div *ngIf="showPreview">
<div class="video-container">
  <div class="video-preview">
    <div class="video-title"> Practice QuestionSet VSAa
      <h5 class="ui right floated basic icon circular button  mouse-pointer"><i class="ui remove icon"></i></h5>  
    </div>
    <video 
     *ngIf="selVideo.artifactUrl" 
     id="video_player_id"
     class="video-js vjs-big-play-centered"
     controls 
     preload="auto">
     <source src="{{selVideo.artifactUrl}}" type="video/mp4">
   </video>
  </div>
 <div class="video-content-data">
  <app-add-marker [videoPlayerInstance]='videoPlayerInstance'></app-add-marker>
 </div>
</div> 


</div>