.main-container {
    box-sizing: border-box;
    height: 100%;
    overflow: hidden;
}

.main-container .main-sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 340px;
    background: #fbfbfb;
    /* padding: 0 0 .625rem; */
    height: 100vh;
    overflow: auto;
}

.main-container .main-body {
    padding-right: 340px;
}
.header-title{
    font-size: 1.5em;
}
.show-settings {
    background: #f3f7fa;
    padding: 8px 16px;
    width: 100%;
}

.show-settings h3 {
    margin-bottom: 0;
}

.settings-input {
    width: 100%;
    padding: 16px;
    .field{
        width: 100%;
    }
}

.clue-settings {
    width: 100%;
    padding: 5px;
}

.across, .down {
    padding-inline-start: 10px;
}


.header {
    padding: 8px 16px;
    background: #f3f7fa;
}
.main-left-content{
    height: calc(100vh - 42px);
    overflow: auto;
}
.select-btn{
    min-width: 100%;
    width: 100%;
    height: 32px;
    font-size: 12px;
    border-radius: 3px;
    padding: 0;
    background: #fff !important;
    color: #000 !important;
    border: 1px solid hsl(0, 0%, 60%);
    line-height: 32px;
    padding: 0 16px;
    .text{
        width: 90%;
    }
}
.ui.dropdown .text, .menu .item {
    font-family: HelveticaNeueLTStd-Lt,Helvetica,Arial,sans-serif;
}
