<div class="main-container">
  <div class="main-body">
    <div class="header">
      <h1 class="header-title">CrossWords</h1>
    </div>
    <div id="crossword"></div>
    <div *ngFor="let edge of filteredEdges">
      {{edge.word}} - {{edge.clue}}
    </div>
    <div class="half_width">
      <table id="clues">
        <thead>
          <tr>
            <!-- <th>Across</th>
            <th>Down</th> -->
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <ul id="across">
                <!-- <li *ngFor="let edge of filteredEdges">
                  {{word}} - {{clue}}
                </li> -->
              </ul>
            </td>
            <td>
              <ul id="down"></ul>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div id="output">Output</div>

  </div>
  <div class="main-sidebar">
    <div class="show-settings">
      <h5>Show Settings</h5>
    </div>
    <div class="ui input settings-input">
      <input #cwRow (keyup.enter)="getRows(cwRow.value)" type="text" placeholder="Search...">
    </div>
    <!-- (blur)="getRows(cwRow.value); cwRow.value=''" -->
    <button class="ui primary button" (click)="getRows(cwRow.value)">Regenerate</button>
  </div>
</div>
<!--
<a href="#" id="copy" data-clipboard-target="#output">Copy JSON</a> -->
