<div class="main-container">
  <div class="main-body">
    <div class="header">
      <h1 class="header-title">CrossWords</h1>
    </div>
    <div class="main-left-content">
      <div id="crossword"></div>
      <div class="output-section">
        <div id="output">Output</div>
      </div>
      <div *ngFor="let edge of filteredEdges">
        {{edge.word}} - {{edge.clue}}
      </div>
    </div>

  </div>
  <div class="main-sidebar">
    <div class="show-settings">
      <h5>Show Settings</h5>
    </div>

    <div class="ui form input settings-input">
      <div class="field">
        <label>Enter grid size</label>
        <input #cwRow (keyup.enter)="getRows(cwRow.value)" type="text" placeholder="10">
      </div>
    </div>
    <div class="ui settings-input">
      <div class="ui dropdown secondary button select-btn" suiDropdown [(isOpen)]="isOpen" [isDisabled]="isDisabled">
        <div class="text">{{category || 'Select Category'}}</div>
        <i class="dropdown icon" style="background: none;"></i>
        <div class="menu" suiDropdownMenu>
          <div *ngFor="let top of topic" class="item" (click)="onCategoryChange(top.type, top.rel);">{{top.type}}</div>
        </div>
      </div>
    </div>
    <div class="ui settings-input" style="text-align: center;">
      <!-- (blur)="getRows(cwRow.value); cwRow.value=''" -->
      <button class="ui primary button small" (click)="getRows(cwRow.value)">Regenerate</button>
    </div>

    <div class="ui settings-input" style="text-align: center;">
      <button class="ui primary button small" (click)="createContent()">Create Content</button>
    </div>

    <div class="clue-settings">
      <div class="half_width">
        <div class="ui form input settings-input">
          <div class="field">
            <label>Clues</label> <button *ngIf="showEditButton" (click)="editState()" class="ui mini active button">
              <i *ngIf="editingClues" class="check icon" style="background: none;"></i>
              <i *ngIf="!editingClues" class="edit icon" style="background: none;"></i>
              {{editingClues ? 'Done' : 'Edit'}}
            </button>
          </div>
        </div>
        <table id="clues">
          <thead>
            <tr>
              <th>Across</th>
              <th>Down</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="customClues">
              <td>
                <ul class="across" id="across">
                  <li class="clue_list" *ngFor="let across of wordClues.across">
                    <span *ngIf="!editingClues">
                      <b>{{across.position}}</b> {{across.clue}}
                    </span>
                    <div *ngIf="editingClues" class="ui input">
                      <b>{{across.position}}</b> <input type="text" value="{{across.clue}}"
                        (blur)="updateClue($event, across.id);">
                    </div>
                  </li>

                </ul>
              </td>
              <td>
                <ul class="down" id="down">
                  <li *ngFor="let down of wordClues.down">
                    <span *ngIf="!editingClues">
                      <b>{{down.position}}</b> {{down.clue}}
                    </span>
                    <div *ngIf="editingClues" class="ui input">
                      <b>{{down.position}}</b> <input type="text" value="{{down.clue}}">
                    </div>
                  </li>
                </ul>
              </td>
            </tr>
            <tr *ngIf="!customClues">
              <td>
                <ul class="across" id="across">
                </ul>
              </td>
              <td>
                <ul class="down" id="down">
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<sui-dimmer class="inverted" [(isDimmed)]="segmentDimmed">
  <div class="ui text loader">Fetching words!!!</div>
</sui-dimmer>

<sui-modal *ngIf="showModal" [isClosable]="true" [size]="'tiny'" (dismissed)="showModal = !showModal;" #modal>
  <div class="header">Content published</div>
  <div class="content">
      <a target="_blank" [href]="publishedContentURL">Click here to play</a>
  </div>
  <div class="actions">
  </div>
</sui-modal>


<!--
<a href="#" id="copy" data-clipboard-target="#output">Copy JSON</a> -->
